<div class="store-ct-left">
<form>
  <div class="form-group">
      <label for="inputLcRetirada">Local de retirada</label>
      <input type="text" class="form-control simplebox" id="inputLcRetirada" value="São Paulo - São Paulo/BR, Brasil">
  </div>
  <div class="form-group group-changeLocal">
      <div class="icocheck divicocheck"></div>
      <input type="checkbox" id="ckbLocalDif"><label> Devolver o carro em outro local</label>
  </div>
  <div class="form-group">
      <label for="inputLcDevolucao">Local de devolução</label>
      <input type="text" class="form-control simplebox" id="inputLcDevolucao" value="Rio de Janeiro - Rio de Janeiro/BR, Brasil">
  </div>
  <div class="form-group controls-calendar">
      <label for="inputDtRetira">Retirada</label>
      <div class="input-calendar">
          <input type="text" class="form-control simplebox" id="inputDtRetira" value="10/11/2016">
          <div class="icocalendar calendar-separator"></div>
          <select class="form-control simplebox" id="inputHrRetira">
              <option>08:00</option>
              <option>09:00</option>
              <option>10:00</option>
              <option>11:00</option>
          </select>
      </div>
  </div>
  <div class="form-group controls-calendar">
      <label for="inputDtDevolucao">Devolução - 8 dia(s)</label>
      <div class="input-calendar">
          <input type="text" class="form-control simplebox" id="inputDtDevolucao" value="10/11/2017">
          <div class="icocalendar calendar-separator"></div>
          <select class="form-control simplebox" id="inputHrDevoluao">
              <option>08:00</option>
              <option>09:00</option>
              <option>10:00</option>
              <option>11:00</option>
          </select>
      </div>

  </div>
  <div class="form-group">
      <div class="panel-promotion">
          <div class="panel-head">
              <label>Economize até 30%</label>
          </div>
          <div class="panel-body">
              <ul>
                  <li><input type="checkbox" />Incluir voo</li>
                  <li><input type="checkbox" />Incluir hotel</li>
              </ul>
          </div>
      </div>
  </div>
  <div class="form-group">
      <div class="icobuscar"></div>
  </div>
</form>
</div>