body {margin:0;padding:0;font-family:Osvald;}
.store {min-width:320px;width:100%;}
.simplebox {outline:none;border:none !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;}

.store-ct-righ .store-filters {margin-bottom:10px;margin-top:10px;}
.store-ct-righ .store-filters .form-group {border:1px solid rgb(233,233,233);margin-right:15px;padding-left:4px;}
.store-ct-righ .store-filters .form-group label {color:rgb(54,88,164) !important;font-weight:100;text-transform:uppercase;font-size:11px;}
.store-ct-righ .store-filters .form-group .form-control {border:none;}
.store-ct-righ .produts-pagination {width:100%;}
.store-ct-righ .produts-pagination ul {list-style-type:none;padding:0px;display:flex;width:auto;position:absolute;left:50%;transform:translatex(-50%);}
.store-ct-righ .produts-pagination ul li {margin-left:10px;color:rgb(0,135,229);cursor:pointer;padding:10px 15px 10px 15px;}
.store-ct-righ .produts-pagination ul li:hover {color:rgb(79,97,139);background-color:rgb(245,245,245);}
.store-products {font-size:13px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;flex-wrap:wrap;margin-bottom:30px;}
.store-products p {padding:0px !important;margin:0px !important;}
.store-products > [class*='col-lg'] {display:flex;flex-direction:column;}
.store-products .product {border-bottom:1px solid rgb(224,224,224);border-left:1px solid rgb(224,224,224);border-top:1px solid rgb(224,224,224);}
.store-products .product {width:685px;}
.store-products .product .product-image {width:263px;height:183px;padding:0px;}
.store-products .product .tag-discount {background:rgb(105,180,46);width:61px;height:37px;position:absolute !important;margin:0px;float:left;z-index:10;padding:5px;}
.store-products .product .tag-discount p {color:white;text-align:center;text-transform:uppercase;font-size:9px;font-weight:bold;}
.store-products .product .tag-discount p:nth-child(2) {font-size:15px;}
.store-products .product-favorite {float:right;margin-right:10px;margin-top:10px;cursor:pointer;z-index:10;}
.store-products .product .product-description {margin-left:20px;}
.store-products .product .product-description {margin-top:14px;}
.store-products .product .product-description ul {list-style-type:none;padding-left:0px;}
.store-products .product .product-description .product-name {color:rgb(38,60,112);font-size:18px;text-transform:uppercase;}
.store-products .product .product-description .product-details > div > p {color:rgb(0,135,229);font-weight:bold;cursor:pointer;}
.store-products .product .product-description .product-details .icodetails {width:40px;height:18px;text-align:center;margin-left:24px;}
.store-products .product-details-text {border-bottom:1px solid rgb(224,224,224);border-top:1px solid rgb(224,224,224);margin-top:-4px;padding:13px;}
.store-products .details-true {display:block;}
.store-products .details-false {display:none;}
.store-products .product .product-serialItens {margin-top:10px;}
.store-products .product .product-serialItens ul {list-style-type:none;padding:0px;margin-left:10px;}
.store-products .product .product-serialItens ul li {width:195px;float:left;height:30px;}
.store-products .product .product-serialItens > [class*='col'] {margin:0px;padding:0px;}
.store-products .product-price {background-color:rgb(255,220,44);height:inherit !important;}
.store-products .product-price .product-price-description {text-align:center;margin-top:5px;color:rgb(99,81,9) !important;}
.store-products .product-price .price-info {margin-top:5px;text-align:center;}
.store-products .product-price .product-price-description .price-title {text-transform:uppercase;margin-bottom:5px !important;}
.store-products .product-price .product-price-description label {margin:0px;}
.store-products .product-price .product-price-description .price-txt-blue {color:rgb(38,60,112);}
.store-products .product-price .product-price-description .price-value {font-size:20px;}
.store-products .product-price .product-btn-rent {width:144px;height:47px;background:url(/assets/images/res-img.jpg) -89px -1px;margin-left:-15px;}
@media only screen and (max-width :320px) {
.store-ct-righ {width:273px !important;}
.store-ct-righ .store-filters .form-group {margin-left:29px;margin-right:-30px;}
.store-ct-righ .store-products {width:300px;}
.store-products .product {border-right:1px solid rgb(224,224,224);}
.store-products .product-price {width:275px;}
.row.produts-pagination ul li {padding:2px;}
.store-ct-righ .store-products {margin-left:14px;width:275px !important;}
.store-products .product-price .product-btn-rent {width:126px;height:45px;background:url(/assets/images/res-img.jpg) -89px -52px;margin-left:58px;}
.icopagminus {background:url(/assets/images/res-img.jpg) -283px -6px;width:30px;}
.icopagplus {background:url(/assets/images/res-img.jpg) -282px -52px;height:50px;width:21px;}}
@media only screen and (min-width :320px) {
.store-ct-righ .store-filters {margin-left:15px;}
.store-products .product {margin-left:30px;border-right:1px solid rgb(224,224,224);width:100%;margin-right:15px;}
.store-products .product-price {margin-left:30px;width:100%;margin-right:15px;}
.store-products .product-price .btn-product{text-align:center;}
.store-products .product-price .product-btn-rent {width:123px;height:45px;background:url(/assets/images/res-img.jpg) -93px -52px;display:inline-block;}
.icopagminus {background:url(/assets/images/res-img.jpg) -283px 2px;float:left;}
.icopagplus {background:url(/assets/images/res-img.jpg) -288px -43px;float:left;}
.store-ct-righ .produts-pagination ul li {margin-left:10px;color:rgb(0,135,229);cursor:pointer;padding:8px 8px 8px 8px;}}
@media only screen and (min-width :768px) {
.store-products .product .product-serialItens ul li {margin-left:6%;}.store-products .product-price .btn-product{text-align:center;}
.store-products .product-price .product-btn-rent {display:inline-block;}
.store-products .product .product-image{float:left;}
.store-products .product .product-description{margin-top:0px;}}
@media only screen and (min-width :1280px) {
.store-ct-righ{margin-top:20px;}
.store-products .product {margin-left:20px;border-right:none;width:75%;margin-right:0px;}
.store-ct-righ .store-filters {margin-left:4px;}
.store-products .product-price {margin-left:0px;width:165px;margin-right:15px;}
.store-products .product-price .btn-product{margin-left:-15px;}
.store-products .product-price .price-info {margin-top:10px;}
.product-price-description {margin-top:30px !important;}
.store-products .product .product-description{margin-top:10px;}
.store-products .product-price .product-btn-rent {width:146px;height:45px;background:url(/assets/images/res-img.jpg) -89px -1px;display:block;margin-left:0px;}
.store-products .product .product-serialItens ul li{margin-left:0px;}
.store-products .product .product-description{margin-left:0px;}
.icopagplus {background:url(/assets/images/res-img.jpg) -288px -45px;}}
.favorite-true {width:32px;height:28px;background:url(/assets/images/res-img.jpg) -39px -77px;}
.favorite-false {width:32px;height:28px;background:url(/assets/images/res-img.jpg) -2px -76px;}
.icovehicle {width:32px;height:15px;background:url(/assets/images/res-img.jpg) -2px -2px;float:left;}
.icoair {width:32px;height:15px;background:url(/assets/images/res-img.jpg) 0px -27px;float:left;}
.icoglass {width:32px;height:15px;background:url(/assets/images/res-img.jpg) -2px -51px;float:left;}
.icoperson {width:32px;height:15px;background:url(/assets/images/res-img.jpg) -27px -2px;float:left;}
.icoauto {width:32px;height:15px;background:url(/assets/images/res-img.jpg) -26px -26px;float:left;}
.icocd {width:32px;height:15px;background:url(/assets/images/res-img.jpg) -27px -53px;float:left;}
.icobag {width:32px;height:15px;background:url(/assets/images/res-img.jpg) -52px -2px;float:left;}
.icopilot {width:32px;height:15px;background:url(/assets/images/res-img.jpg) -52px -28px;float:left;}
.icoradio {width:32px;height:15px;background:url(/assets/images/res-img.jpg) -52px -52px;float:left;}
.icocalendar {background:url(/assets/images/res-img.jpg) -220px -59px;float:left;}
.icobuscar {width:245px;height:54px;background:url(/assets/images/res-img.jpg) -411px -102px;}
.icobuscarMin {width:177px;height:40px;background:url(/assets/images/res-img.jpg) -410px -163px;float:left;}
.icocheck {background:url(/assets/images/res-img.jpg) -241px -1px;float:left;}
.icouncheck {background:url(/assets/images/res-img.jpg) -242px -24px;float:left;}
.icodetails {background:url(/assets/images/res-img.jpg) -16px -122px;float:left;}
